.page{
    display: flex;
    flex-direction: column;
}

.contenu{
    display: flex;
    flex-direction: row;
}

.haut{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgreen;
    width: 100%;
    height: 10%;
}

.gauche{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 90%;
    background-color: cadetblue;
}
