.page{
    display: flex;
    flex-direction: column;
}

.contenu{
    display: flex;
    flex-direction: row;
}

.haut{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(151, 27, 27);
    width: 100%;
    height: 10%;
}

.gauche{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 88%;
    background-color: rgb(65, 5, 3);
}

.droite{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 90%;
    background-color: rgb(199, 238, 240);
}

.accent{
    position: fixed;
    top: 10%;
    left:0;
    width: 100%;
    height: 2%;
    background-color: black;
}
