.page{
    display: flex;
    flex-direction: column;
}

.contenu{
    display: flex;
    flex-direction: row;
}

.haut{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(151, 27, 27);
    width: 100%;
    height: 10%;
}

.gauche{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 88%;
    background-color: rgb(171, 42, 23);
}

.titre-boutton-pages{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color:black;
    position: relative;
    left: 10%;
    width: 80%;
}

.boutton-pages{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:rgb(66, 66, 66);
    position: relative;
    left: 10%;
    width: 80%;
    border-style: ridge;
    border-color: burlywood;
}

.droite{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 88%;
    background-color: rgb(199, 238, 240);
}

.accent{
    position: fixed;
    top: 10%;
    left:0;
    width: 100%;
    height: 2%;
    background-color: black;
}

